* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body::-webkit-scrollbar {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  z-index: -1;
}

nav {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: #fff;
  align-items: center;
}

#logo {
  grid-column: 2/3;
  font-size: 30px;
}

.hamburger {
  height: 45px;
  width: 45px;
  justify-self: end;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.hero {
  height: 70%;
  width: 100%;
  position: relative;
}

.hero::after {
  content: "";
  background: #000;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid yellow;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.headline {
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 10rem;
  transform: translate(-20%, -70%);
  -webkit-transform: translate(-20%, -70%);
  -moz-transform: translate(-20%, -70%);
  -ms-transform: translate(-20%, -70%);
  -o-transform: translate(-20%, -70%);
  color: #fff;
  z-index: 3;
}
